.section {
  box-shadow: 0 0 10px rgba(128,128,128,0.51);
}
.heading.article {
  text-align: center;
  font-size: 42px;
}
.info.article {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.info.article .fa {
  color: #545e69;
}
.info.article span {
  margin-right: 50px;
  color: #545e69;
}
.bottom.article {
  margin-top: 30px;
  margin-bottom: 10px;
}

.comments .item {
  margin-bottom: 30px;
}
.comments .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.comments .item .title .place {
  color: #999999;
  font-weight: normal;
}
.comments .item .title .place a {
  color: #999999;
}
.comments .item .title .place a:hover {
  color: #666666;
}
.comments .item .title .year {
  color: #999999;
  font-weight: normal;
}
.comments.section .divider {
  border-bottom: solid 1px #d0d0d0;
  height: 1px;
}
